<!--<h2>Searching files: <%= remove_basedir(@current) %></h2>-->
<div class="page-header">
  <h2>Directory: <%= html_for_current %> <span class="badge"><%= @filenames.size.to_s%></span></h2>
</div>

<div class="well">
<ul>
<% @filenames.each do |filename| %>
  <% if File.directory?(filename) %>
    <li><a href="/dir/list/<%= route_for(filename) %>"><%= File.basename(filename) %></a></li>
  <% elsif ['.haml','.xml'].include? File.extname(filename).downcase  %>
    <li><a href="/concept/list/<%= route_for(filename) %>">
        <span class="label label-primary"><%= File.basename(filename) %></span>
        </a>
    </li>
  <% else %>
    <li><span class="label label-default"><%= File.basename(filename) %></span></li>
  <% end %>
<% end %>
</ul>
</div>

<div>
  <p><form method="POST" action="/file/new">
    <input type="hidden" name="basedir" value="<%= route_for(@current)%>">
    <select name="type">
      <option value="file">File</option>
      <option value="dir">Directory</option>
    </select>
    Name <input type="text" name="filename">
    <input type="submit" value="Create">
  </form></p>
</div>
