<h2>File: <a href="/file/show/<%= route_for(@filename) %>"><%= File.basename(@filename) %></a></h2>
<p>Directory: <%= html_for_current(:indexlast => true) %>
  | Concepts
</p>
<hr>

Lang: <input type="text" size=4  name="lang"    value="<%= @lang.lang.to_s %>" />
Context: <input type="text" size=60 name="context" value="<%= @context.join(",").to_s %>" />
Version: 1</br>
<hr>

<ul>
<% @concepts.each_with_index do |concept,index| %>
  <li> <%= concept.name %> ( <a href="/concept/show/<%=index%>">Show</a> | Edit | Delete)</li>
<% end %>
</ul>
