<div class="page-header">
<h2>File: <a href="/file/show/<%= route_for(@filename) %>"><%= File.basename(@filename) %></a></h2>
<p>Directory: <%= html_for_current(:indexlast => true) %>
  | Concepts <span class="badge"><%= @concepts.size.to_s%></span>
  | <a href="/file/delete/<%=route_for(@filename)%>"><span class="label label-danger">Delete File</span></a>
</p>
</div>

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Concept list <span class="badge"><%= @concepts.size.to_s%></span></h3>
        </div>
        <div class="panel-body">

<!--             <div class="col-md-6">-->
          <table class="table table-condensed">
            <tbody>
              <% @concepts.each_with_index do |concept,index| %>
                <tr>
                  <td><%= index.to_s %></td>
                  <td><a href="/concept/show/<%=index%>"><b><%= concept.name(:screen) %></b></a></td>
                  <td><span class="label label-info">Edit</span> <span class="label label-danger">Delete</span></td>
                <tr>
              <% end %>
            </tbody>
          </table>
<!--             </div>-->

        </div>
      </div>
    </div><!-- /.col-sm-4 -->

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Settings</h3>
        </div>
        <div class="panel-body">

<!--          <ul>
            <li>Lang: <input type="text" size=4  name="lang"    value="<%= @lang.lang.to_s %>" /></li>
            <li>Context: <input type="text" size=60 name="context" value="<%= @context.join(",").to_s %>" /></li>
            <li>Version: 1</li>
          </ul>-->
          <ul>
            <li>Lang: <%= @lang.lang.to_s %></li>
            <li>Context: <%= @context.join(",").to_s %></li>
            <li>Version: 1</li>
          </ul>

        </div>
      </div>
    </div><!-- /.col-sm-4 -->
  </div>
