
<div class="page-header">
<h2>File: <a href="/file/show/<%= route_for(@filename) %>"><%= File.basename(@filename) %></a></h2>
<p>Directory: <%= html_for_current(:indexlast => true) %>
  | <a href="/concept/list/<%= route_for(@filename) %>">Concepts <span class="badge"><%= @concepts.size.to_s%></span></a>
  | Show <b><%= @concept.name %></b>
  | <span class="label label-info"><a href="/concept/edit/<%= @index %>">Edit</a></span> <span class="label label-danger">Delete</span>
</p>
</div>

<div class="well">
<p><b>Name:</b> <%= @concept.name %></p>
<ul>
  <li><b>Tags:</b> <%= @concept.tags.join(",").to_s %></li>
  <li><b>Definitions:</b></li>
  <ol>
    <% @concept.texts.each do |text| %>
    <li><%= text.to_s %></li>
   <% end %>
 </ol>
 <li><b>Images:</b></li>
 <ol>
   <% @concept.images.each do |image| %>
   <li><img src="<%= image.to_s %>"></li>
  <% end %>
</ol>
 <li><b>Tables:</b></li>
 <ol>
   <% @concept.tables.each do |table| %>
   <li><%= table.name.to_s %></li>
  <% end %>
</ol>
</ul>
</div>
