<!--<h2>Searching files: <%= remove_basedir(@current) %></h2>-->
<h2>Directory: <%= html_for_current %> (<%= @filenames.size.to_s%>)</h2>
<hr>

<% @filenames.each do |filename| %>
  <% if File.directory?(filename) %>
    <li><a href="/dir/list/<%= route_for(filename) %>"><%= File.basename(filename) %></a></li>
  <% else %>
    <li><a href="/concept/list/<%= route_for(filename) %>"><%= File.basename(filename) %></a></li>
  <% end %>
<% end %>
